.add-btn{
    background: #00a659  !important;
    color: #fff  !important;
    margin-top: 11px  !important;
}
.table-btn{
    background-color: transparent !important;
    color: #00a659  !important;
    fill: #fff  !important;
    border: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
::ng-deep .p-dropdown-items{
    padding: 0px !important;
  }