@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/saga-blue/theme.css'; 
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.p-datatable .p-sortable-column.p-highlight {
    background: #00a659;
    color: #fff;
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #00a659;
    color: #fff;    transition: box-shadow 0.2s;
}


  .p-dropdown {
    width: 100%;
  }

  .p-button.btn{
    padding: 10px 5px  !important;
    margin: 5px;
  }
  .p-calendar{
    width: 100%;
  }
  .p-dropdown-items{
    padding: 0px !important;
  }